* {
  font-size: 0.93rem;
}

input {
  color: white;
}

::placeholder {
  color: #cccccc;
}

body,
input {
  background-color: #022c43;
}

.app {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90vw;
  padding: 1rem;
  border: 6px solid #053f5e;
}

.sourceUrl {
  padding: 4px;
}
.sourceUrl input {
  background-color: #053f5e;
}

input {
  padding: 8px 8px;
  border: 0;
  border-bottom: 1px solid black;
}

.sourceUrl input {
  width: calc(100% - 16px);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 4px;
  height: calc(100vh - 8rem);
  overflow-y: auto;
  overflow-x: hidden;
  flex-basis: 100%;
  flex: 1;
}

.column.selected {
  width: 18rem;
  flex: none;
}

.column ul {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  margin-left: 8px;
}

.column:first-child ul {
  margin-left: 0px;
}

.column ul li button {
  background-color: #115173;
  border: 0;
  padding: 8px 8px;
  color: #eeeeee;
  border-bottom: 1px solid #053f5e;
  margin-bottom: 2px;
  cursor: pointer;
  text-align: left;
}

.column ul li button.selected {
  font-weight: bold;
  color: black;
  background-color: #ffd700;
}

.column ul li button.selected span.count {
  color: black;
}

.column ul li button span.node-text:nth-last-child(2) {
  font-size: 0.93rem;
  background-color: transparent;
}
.column ul li button span.node-text {
  font-size: 0.85rem;
  background-color: #053f5e;
  padding-right: 4px;
}
.column ul li button.selected span.node-text:nth-last-child(2) {
  font-size: 0.93rem;
  font-weight: bold;
  background-color: transparent;
}
.column ul li button.selected span.node-text {
  font-size: 0.85rem;
  padding-right: 4px;
  font-weight: normal;
  background-color: transparent;
}

.column ul li a.link,
.column ul li span.link {
  color: white;
  text-decoration: none;
}

.column ul li a.link span {
  display: inline-block;
}

.column ul li a.link span.prefix {
  padding: 4px 6px;
  font-size: 0.7rem;
  background-color: #115173;
}

.column ul li a.link span.text {
  padding: 4px 4px;
}

.column ul li a.link span.reference {
  padding: 4px 6px;
  font-size: 0.7rem;
  background-color: #053f5e;
}

.column ul li a.link span.reference:nth-child(even) {
  background-color: #115173;
}

.column ul li span.count {
  display: inline;
  font-size: 0.8rem;
  color: #dddddd;
  padding: 4px;
}

.column ul li a.link:hover,
.column ul li span.link:hover {
  color: #ef1286;
}

.column::-webkit-scrollbar {
  width: 6px;
}

.column::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #053f5e;
}

.column::-webkit-scrollbar-thumb {
  background-color: #115173;
}
